
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Indie+Flower&display=swap');



body{
  font-family: 'Indie Flower', cursive,'Comfortaa', cursive, sans-serif;
  font-size: 18px;
  margin: 0;
}

input{
  border-bottom: rgb(2, 168, 21) solid 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  display: inline-block;
}


/* Main Header at registration */


.header-footer-at-registration{
  background: rgb(2, 168, 21);
  margin-top:0;
  padding: 20px;
}

/* Main Registration page */

.registration-info-title{
  margin-bottom: 0.5em;

  margin-top: 1em;
}

#header-title, .registration-info-title,.footer-text{
  text-align: center;
}

#registration-submit-btn{
  display: block;
  margin: 2em auto;
}

.registrationBody{
  display: flex;
}

img{
  height: auto;
  margin-top: 2.5em;
  width: 100%;
}



.column-1{
  width: 50%;
  /* border: 1px solid black; */
}

.column-2{
  /* flex-wrap: wrap; */
  align-content: space-between;
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  margin-right: 0;
  margin-top: 1em;
  width: 50%;
  /* border: 1px solid black; */
}


.registrationBody{
  margin: 0 auto;
  max-width: 90%;
  /* border: 1px solid green; */
}

.info-container{
  /* border: 1px solid green; */
  width: 100%;
}

p,input{
  font-size: 1.5rem;
}

.container_signin_box {

  align-items: center;
  display: flex;
  flex-direction: column;
  /*height: 30%; */
  justify-content: center
}

.user_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  /*height: 30%; */
  justify-content: center;
}

.user_box {
  flex: 1;
}

.user_box_img {
  flex: 2;
  flex-basis: 20%;
}
